@import url(https://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

html,
body {
  margin: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #414141;
}

h1 {
  text-align: center;
}

hr {
  background-color: transparent;
  height: 1px;
  margin: 30px 10%;
  border: none;
}

a {
  text-decoration: unset;
  color: unset;
}

ul {
  list-style: none;
}

i {
  font-style: unset;
}

article {
  position: relative;
  width: 100vw;
  max-width: 50em;
  margin: auto;
}

article > * {
  margin-left: 8px;
  margin-right: 8px;
}

article figure,
article img {
  width: 100vw;
  margin: 0;
}

article figcaption {
  margin-top: 15px;
  margin-bottom: 35px;
  text-align: center;
  font-style: italic;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
}
.social a {
  font-size: 1.4em;
  min-height: 48px;
  min-width: 48px;
}

@media screen and (min-width: 500px) {
  h1 {
    margin: 50px auto 0 auto;
  }

  hr {
    background-color: lightgrey;
  }

  article figure {
    width: auto;
    margin: 0 2vw;
  }

  article img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 6px 0px lightgrey;
  }

  article figcaption {
    margin-bottom: 50px;
  }
}
